<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <!-- use new templates tag for and if -->
    <!-- <h1>Test Page</h1> -->

    {% for i in post %}
    <h1>{{ i.title }}</h1>
    <p>{{i.content}}</p>
    {% endfor %}


    <!-- we cana have condition on it by Post.obect.filter() or template tag if else elif -->

    <!-- {% for post in post %}
        {% if post.status == 0 %}
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        {% endif %}
    {% endfor %} -->


</body>
</html>